Header set Access-Control-Allow-Origin *
Options -MultiViews

RewriteEngine On


RewriteRule ^ - [E=ONTO:testo]
RewriteRule ^ - [E=ONTO_IRI:https://w3id.org/%{ENV:ONTO}/]
RewriteRule ^ - [E=GH_USER:micheldumontier]
RewriteRule ^ - [E=GH_REPO:ontostart]
RewriteRule ^ - [E=GH_BRANCH:testo]
RewriteRule ^ - [E=ONTOSPY:true]
RewriteRule ^ - [E=GH_PROJECT:https://%{ENV:GH_USER}.github.com/%{ENV:GH_REPO}/%{ENV:GH_BRANCH}]
RewriteRule ^ - [E=WEBSITE:https://%{ENV:GH_USER}.github.io/%{ENV:GH_REPO}/%{ENV:GH_BRANCH}]
RewriteRule ^ - [E=DOCS:%{ENV:WEBSITE}/docs]

RewriteRule ^ - [E=VERSIONS:versions]
RewriteRule ^ - [E=FILE_IRI:%{ENV:WEBSITE}/%{ENV:VERSIONS}]

### Content negotiation for ontology formats
# JSON-LD
RewriteCond %{ENV:EXT} ^$
RewriteCond %{HTTP_ACCEPT} ^(.*[,;])?(application/ld\+json)([,;].*)?$
RewriteRule ^ - [E=EXT:jsonld]

# RDF/XML (just xml and text/xml is too broad (browsers usually include by default))
RewriteCond %{ENV:EXT} ^$
RewriteCond %{HTTP_ACCEPT} ^(application/rdf\+xml|application/xml|text/xml)?$
RewriteRule ^ - [E=EXT:owl]

# Turtle variants
RewriteCond %{ENV:EXT} ^$
RewriteCond %{HTTP_ACCEPT} ^(.*[,;])?(text/turtle|text/ttl|application/turtle|application/x-turtle)([,;].*)?$
RewriteRule ^ - [E=EXT:ttl]

# N-Triples
RewriteCond %{ENV:EXT} ^$
RewriteCond %{HTTP_ACCEPT} ^(.*[,;])?(application/n-triples)([,;].*)?$
RewriteRule ^ - [E=EXT:nt]


# Website redirect when no format requested

RewriteCond %{ENV:EXT} ^$
RewriteRule ^/?$ %{ENV:WEBSITE} [R=302,L]

# Redirect when root requested with content negotiation
RewriteCond %{ENV:EXT} .
RewriteRule ^/?$ %{ENV:FILE_IRI}/latest/%{ENV:ONTO}.%{ENV:EXT} [R=302,L]

# Redirect when the requested path inside this directory is `versions/latest`
RewriteCond %{ENV:EXT} .
RewriteRule ^versions/latest/?$ %{ENV:FILE_IRI}/latest/%{ENV:ONTO}.%{ENV:EXT} [R=302,L]

# Redirect for specific versions
RewriteCond %{ENV:EXT} .
RewriteRule ^versions/([0-9]+\.[0-9]+\.[0-9]+)/?$ %{ENV:FILE_IRI}/$1/%{ENV:ONTO}.%{ENV:EXT} [R=302,L]

# Docs redirect
RewriteRule ^docs/?$ %{ENV:DOCS} [R=302,L]

# Github redirect
RewriteRule ^github/?$ %{ENV:GH_PROJECT} [R=302,L]

# Redirect for Classes if ONTOSPY is true
RewriteCond %{ENV:ONTOSPY} ^true$
RewriteRule ^classes/(.*)$ %{ENV:DOCS}/ontospy/class-%{ENV:ONTO}$1.html [R=303,L]

# Redirect for Properties if ONTOSPY is true
RewriteCond %{ENV:ONTOSPY} ^true$
RewriteRule ^properties/(.*)$ %{ENV:DOCS}/ontospy/prop-%{ENV:ONTO}$1.html [R=303,L]

# End of file
